.ipynb_checkpoints/

data/__pycache__

venv/envtcc/*

data/InstagramAPI/LICENSE
data/InstagramAPI/*.py
data/InstagramAPI/*.json
data/InstagramAPI/*.txt
data/InstagramAPI/*.md
data/InstagramAPI/*/

data/1-Creating_Dataset/*.txt
data/1-Creating_Dataset/*.log
data/1-Creating_Dataset/*.bkp
data/1-Creating_Dataset/*.json
data/1-Creating_Dataset/Dataset/*/
data/1-Creating_Dataset/IC/*/

data/2-Preparing_Dataset/Clean_Dataset/*/
data/2-Preparing_Dataset/CNN_Clean/CNN_Dataset/*/

data/4-Classifying_Dataset/Dataset/*/
data/4-Classifying_Dataset/CNN_Classify/CNN_Output/*/model_*.pickle
data/4-Classifying_Dataset/CNN_Classify/CNN_Output/*/*.svg
data/4-Classifying_Dataset/CNN_Classify/CNN_Output/*/*.h5

*.parquet
*.csv
*.py
*.bkp